<section class="form">
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
            <label class='sr-only' for="room-id">Código da sala</label>
            <input name='roomId'type="number" placeholder="Código da sala" id="room-id">
            <button> <img src="/imgs/log-in 1.svg" alt="imagem do botão"> Entrar na sala</button>
    </form>
</section>
<div class='separator'>
    <div class="separatorRow"></div>
    <div class="ou">ou</div>
    <div class="separatorRow"></div>
</div>
<section>
    <h2>Crie sua própria sala, de forma fácil</h2>
    <a href="/create-pass" class="button outlined">
        <img src="/imgs/users 1.svg" alt="imagem usuarios">
        Criar sala
    </a>
</section>